<div class="card px-3 py-2 mb-1">
<div class="position-relative">
    <div class="row flex-between-center">
      <div class="col-auto align-self-center">
        <h5 class="mb-0">Account Type</h5>
          <span class="btn-sm ps-0 text-primary fw-bold">Accounts Link<span class="fas fa-chevron-right ms-1 fs--2"></span></span> <span class="btn-sm p-0">Account Type</span>
      </div>
        <div class="col-auto ms-auto">
             <a class="px-1 m-r-5" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add" aria-label=""><i class="fas fa-plus text-primary"></i></a> 
             <!-- <a class="px-1 m-r-5 text-primary" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Edit" aria-label=""><i class="fas fa-edit"></i></a>  -->
         <a class="px-1" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Delete" aria-label=""><i class="fas fa-trash text-danger"></i></a> 
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
            
    <div class="card-body">
        <div class="table-responsive scrollbar">
      <table class="table table-hover table-striped table-sm small table-bordered overflow-hidden">
          <thead>
            <tr>						
                <th>Account Type Name</th>
                <th>Account Type</th>
              <th>Description</th>
                <th width="10%"></th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td>Assets</td>
              <td>Debit</td>
                <td>-----</td>
                <td><a href="#" class="px-1 font-medium-1"><i class="fas fa-eye text-primary"></i></a> <a href="#" class="px-1 font-medium-1"><i class="fas fa-edit text-primary"></i></a></td>
              </tr>
              <tr>
              <td>Liabilities</td>
              <td>Credit</td>
                  <td>-----</td>
                  <td><a href="#" class="px-1 font-medium-1"><i class="fas fa-eye text-primary"></i></a> <a href="#" class="px-1 font-medium-1"><i class="fas fa-edit text-primary"></i></a></td>
              </tr>
              <tr>
              <td>Expense</td>
              <td>Debit</td>
                  <td>-----</td>
                  <td><a href="#" class="px-1 font-medium-1"><i class="fas fa-eye text-primary"></i></a> <a href="#" class="px-1 font-medium-1"><i class="fas fa-edit text-primary"></i></a></td>
              </tr>
              <tr>
              <td>Income</td>
              <td>Credit</td>
                  <td>-----</td>
                  <td><a href="#" class="px-1 font-medium-1"><i class="fas fa-eye text-primary"></i></a> <a href="#" class="px-1 font-medium-1"><i class="fas fa-edit text-primary"></i></a></td>
              </tr>
              </tbody>
        </table>
            </div>
    </div>
  </div>