<app-sidenavi-right></app-sidenavi-right>

<div class="card px-3 py-2 mb-3">

  <div class="position-relative">
    <div class="row">
      <div class="col-lg-4">
        <h5 class="mb-0">Requisition</h5>
        <span class="btn-sm ps-0 text-primary fw-bold">Purchase Link<span
            class="fas fa-chevron-right ms-1 fs--2"></span></span><span class="btn-sm p-0">Requisition</span>
      </div>
      <div class="col-lg-8">

      </div>
    </div>
  </div>

</div>


<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-2" *ngIf="targetLoc === 'Office'">
        <div class="mb-2">
          <select class="form-control form-small form-select mb-d3" [(ngModel)]="selectedVesselGroupId"
            (change)="filteredVessels($any($event.target).value)">
            <option value="0" selected disabled>Select Vessel Group</option>
            <option *ngFor="let item of myFleet" value="{{item.userFleetId}}">
              {{item.fleetName | titlecase}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="mb-2">
          <select class="form-control form-small form-select" [(ngModel)]="selectedVesselId" (change)="filterVessel()">
            <option value="0" selected disabled>Select Vessel</option>
            <option *ngFor="let item of  Vessels" value="{{item.vesselId}}">
              {{item.vesselName | titlecase}}
            </option>
          </select>
        </div>
      </div>

      <div [ngClass]="{'col-lg-10': targetLoc === 'Vessel', 'col-lg-8': targetLoc === 'Office'}">
        <div class="form-inline float-end mb-2">
          <!-- <a class="form-small text-primary px-1 m-r-5" type="button" data-bs-toggle="tooltip"
                  data-bs-placement="top" title="" data-bs-original-title="Modify Column" aria-label=""><i
                    class="fas fa-columns"></i></a>
                <a class="px-1 m-r-5" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                  data-bs-original-title="Add Attachment" aria-label=""><i
                    class="fas fa-paperclip text-primary"></i></a> -->

          <button class="btn btn-secondary dropdown-toggle pe-1 me-1" type="button" data-bs-toggle="dropdown" (click)="handleButtonClick()"
            aria-haspopup="true" aria-expanded="false"><span class="pe-1"><i class="fas fa-plus"></i></span></button>
          <div class="dropdown-menu">
            <!-- <a class="dropdown-item"  routerLink="/Requisition/RequisitionsNew">REQUISITION</a> -->
            <button class="dropdown-item" (click)="clear()">REQUISITION</button>
            <!-- <a class="dropdown-item" href="#">DIRECT PO</a>
            <a class="dropdown-item" href="#">INVOICE</a> -->
          </div>

          <!-- <a class="px-2 m-r-1 font-medium-5" type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                  title="" data-bs-original-title="Export PDF" aria-label=""><i
                    class="fas fa-file-pdf text-danger"></i></a> -->

          <a class="font-medium-5" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title=""
            (click)="generateExcel()" data-bs-original-title="Export Excel" aria-label="">
            <i class="fas fa-file-excel text-success"></i></a>

          <a class="px-2 m-r-1 font-medium-5" type="button" data-bs-toggle="tooltip" data-bs-placement="top"
            matTooltip="RTO" (click)="downloadNotepad()" data-bs-original-title="List" aria-label=""><i
              class="fas fa-file-alt"></i></a>

        </div>
      </div>
    </div>

    <div class="table-responsive">
      <mat-table #table [dataSource]="dataSource" matSort
        class="table table-hover table-striped table-sm small table-bordered">

        <!-- <ng-container matColumnDef="denger">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <i class="fas fa-radiation text-danger"></i> <i class="fas fa-exclamation-triangle text-danger"></i>

                </mat-cell>
              </ng-container> -->


        <ng-container matColumnDef="checkbox">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>

          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"></mat-checkbox>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Requisition_No">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Requisition No.</mat-header-cell>
          <mat-cell *matCellDef="let row" (click)="editRequisition(row)">
            <a class="accordion-btn show px-2 m-r-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
              aria-expanded="true" aria-controls="collapse1">{{row.documentHeader}}</a>

          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Delivery_Site">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Delivery Site</mat-header-cell>
          <mat-cell *matCellDef="let row" title={{row.deliverySiteNames}}>
            <span>{{row.deliverySiteNames}} </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="OriginSite">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Origin Site</mat-header-cell>
          <mat-cell *matCellDef="let row" title={{row.originSite}}>
            <span> {{row.originSite}} </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="RequestOrderType">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Request Order Type</mat-header-cell>
          <mat-cell *matCellDef="let row" title={{row.pmOrderType.orderTypes}}>
            <span> {{row.pmOrderType.orderTypes}} </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="OrderTitle">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Order Title</mat-header-cell>
          <mat-cell *matCellDef="let row" title={{row.orderTitle}}>
            <span> {{row.orderTitle}} </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="OrderReference">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Order Reference</mat-header-cell>
          <mat-cell *matCellDef="let row" title={{row.orderReferenceNames}}>
            <span> {{row.orderReferenceNames}} </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Department">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Department</mat-header-cell>
          <mat-cell *matCellDef="let row" title={{row.departments.departmentName}}>
            <span> {{row.departments.departmentName}} </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Priority">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
          <mat-cell *matCellDef="let row" title={{row.pmPreference.description}}>
            <span> {{row.pmPreference.description}} </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ProjectName_Code">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Project Name / Code</mat-header-cell>
          <mat-cell *matCellDef="let row"
            title={{row.pmProjectNameCode.projectName}}{{row.pmProjectNameCode.projectCode}}>
            <span> {{row.pmProjectNameCode.projectName}}{{row.pmProjectNameCode.projectCode}} </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let row" title={{row.approvedReq}}>
            <span> {{row.approvedReq}} </span>
          </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="RTO">
                <mat-header-cell *matHeaderCellDef mat-sort-header>RTO</mat-header-cell>
                <mat-cell *matCellDef="let row" (click)="downloadNotepad(row.requisitionId)">
                  <a class="accordion-btn show px-2 m-r-5" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1"><i class="fas fa-file-alt"></i></a>

                </mat-cell>
              </ng-container> -->

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
          [ngClass]="{'highlight': (selectedIndex==0?(i==0):(row.requisitionId==selectedIndex))}"></mat-row>
      </mat-table>
      <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="20"
        [pageSizeOptions]="[20, 40, 60, 100]">
      </mat-paginator>
    </div>
  </div>
</div>