<main class="main" id="top">
    <div class="container-fluid" data-layout="container">
      <!-- <nav class="navbar navbar-light navbar-vertical navbar-expand-xl navbar-inverted">
        <div class="d-flex align-items-center">
          <div class="toggle-icon-wrapper">

            <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

          </div><a class="navbar-brand" href="index.html">
            <div class="d-flex align-items-center py-2"><img class="me-2" src="assets/img/logo.png" alt="" width="40" /><span class="font-sans-serif font-small-3">Purchase Link</span>
            </div>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
          <div class="navbar-vertical-content scrollbar">
            <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
              <li class="nav-item">
                <a class="nav-link" href="index.html" role="button" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-home"></span></span><span class="nav-link-text ps-1">Home</span>
                  </div>
                </a>                 
              </li>
              <li class="nav-item">
           
                <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                  <div class="col-auto navbar-vertical-label">Purchase Link
                  </div>
                  <div class="col ps-0">
                    <hr class="mb-0 navbar-vertical-divider" />
                  </div>
                </div>
                <a class="nav-link dropdown-indicator active" href="#purchase-link" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="register">
                  <div class="d-flex align-items-center"><span class="nav-link-icon"><i class="fas fa-link"></i></span><span class="nav-link-text ps-1">Purchase Link</span>
                  </div>
                </a> 
                  <ul class="nav collapse show" id="purchase-link">                    
                      <li class="nav-item"><a class="nav-link" href="purchase-link-purchase-tracking.html" aria-expanded="false">
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Purchase Tracking</span>
                      </div>
                    </a>
                  </li>
                      <li class="nav-item"><a class="nav-link active" href="purchase-link-requisition.html" aria-expanded="false">
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Requisition</span>
                      </div>
                    </a>
                  </li>
                      <li class="nav-item"><a class="nav-link" href="purchase-link-rfq.html" aria-expanded="false">
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1">RFQ</span>
                      </div>
                    </a>
                  </li>
                      <li class="nav-item"><a class="nav-link" href="purchase-link-po.html" aria-expanded="false">
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Purchase Order</span>
                      </div>
                    </a>
                  </li>
                      <li class="nav-item"><a class="nav-link" href="purchase-link-dispatch.html" aria-expanded="false">
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Dispatch</span>
                      </div>
                    </a>
                  </li>
                  </ul>
              </li>
              <li class="nav-item">
             
                <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                  <div class="col-auto navbar-vertical-label">Purchase Master
                  </div>
                  <div class="col ps-0">
                    <hr class="mb-0 navbar-vertical-divider" />
                  </div>
                </div>
                <a class="nav-link dropdown-indicator" href="#master" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="register">
                  <div class="d-flex align-items-center"><span class="nav-link-icon"><i class="fas fa-cog"></i></span><span class="nav-link-text ps-1">Master</span>
                  </div>
                </a> 
                  <ul class="nav collapse" id="master">                    
                      <li class="nav-item"><a class="nav-link" href="purchase-link-order-type.html" aria-expanded="false">
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Order Type</span>
                      </div>
                    </a>
                  </li>
                      <li class="nav-item"><a class="nav-link" href="purchase-link-priority.html" aria-expanded="false">
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Preference</span>
                      </div>
                    </a>
                  </li>
                      <li class="nav-item"><a class="nav-link" href="purchase-link-project.html" aria-expanded="false">
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Project Name / Code</span>
                      </div>
                    </a>
                  </li>
                      <li class="nav-item"><a class="nav-link" href="purchase-link-account.html" aria-expanded="false">
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Account Code / Name</span>
                      </div>
                    </a>
                  </li>
                      <li class="nav-item"><a class="nav-link" href="purchase-link-material-quality.html" aria-expanded="false">
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Material Quality</span>
                      </div>
                    </a>
                  </li>
                      <li class="nav-item"><a class="nav-link" href="purchase-link-additional-cost.html" aria-expanded="false">
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Additional Cost</span>
                      </div>
                    </a>
                  </li>
                      <li class="nav-item"><a class="nav-link" href="purchase-link-new-requisition-rfq-email-add-folder.html" aria-expanded="false">
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Email</span>
                      </div>
                    </a>
                  </li>
                  </ul>					
              </li>
                <li class="nav-item">
                
                <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                  <div class="col-auto navbar-vertical-label">Vendor Master
                  </div>
                  <div class="col ps-0">
                    <hr class="mb-0 navbar-vertical-divider" />
                  </div>
                </div>
                <a class="nav-link dropdown-indicator" href="#vendor-master" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="register">
                  <div class="d-flex align-items-center"><span class="nav-link-icon"><i class="far fa-address-card"></i></span><span class="nav-link-text ps-1"> Master</span>
                  </div>
                </a> 
                  <ul class="nav collapse" id="vendor-master">                    
                      <li class="nav-item"><a class="nav-link" href="purchase-link-vendor-details.html" aria-expanded="false">
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Vendor Details</span>
                      </div>
                    </a>
                  </li>
                  </ul>					
              </li>
            </ul>  
              
          </div>
        </div>
      </nav> -->


      <div class="content">
          <div class="card px-3 py-2 mb-3">

          <div class="position-relative">
            <div class="row">
              <div class="col-lg-4">
                <h5 class="mb-0">Requisition</h5>
                  <span class="btn-sm ps-0 text-primary fw-bold">Purchase Link<span class="fas fa-chevron-right ms-1 fs--2"></span></span><span class="btn-sm p-0">Requisition</span>
              </div>
                <div class="col-lg-8">
                   
              </div>
            </div>
          </div>
              
        </div>	

           
        <div class="card mb-3">
          <div class="card-body">
              <div class="row">
              <div class="col-lg-4">
                <div class="mb-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Vessel</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Vessel 1</a>
                      <a class="dropdown-item" href="#">Vessel 2</a>
                      <a class="dropdown-item" href="#">Vessel 3</a>
                    </div>
                  </div>
              </div>
                <div class="col-lg-8">
                   <div class="form-inline float-end mb-2">
                       <a class="form-small text-primary px-1 m-r-5" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Modify Column" aria-label=""><i class="fas fa-columns"></i></a>
                       <a class="px-1 m-r-5" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Add Attachment" aria-label=""><i class="fas fa-paperclip text-primary"></i></a>
                       
                <button class="btn btn-secondary dropdown-toggle pe-1 me-1" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="pe-1"><i class="fas fa-plus"></i></span></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item"  routerLink="/Requisition/RequisitionsNew">REQUISITION</a>
                      <a class="dropdown-item" href="#">DIRECT PO</a>
                      <a class="dropdown-item" href="#">INVOICE</a>
                    </div>
                              
                          <a class="px-2 m-r-5 font-medium-5" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Export PDF" aria-label=""><i class="fas fa-file-pdf text-danger"></i></a> 
                          
                          <a class="font-medium-5" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Export Excel" aria-label=""><i class="fas fa-file-excel text-success"></i></a>
                          
                        </div>
              </div>
            </div>
              
                      <div class="table-responsive scrollbar">
            <table class="table table-hover table-striped table-sm small table-bordered overflow-hidden">                                 
                <thead>
                   <tr>
                    <th width="5%"></th>
                       <th width="5%"></th>
                    <th>Requisition No.</th>
                    <th>Delivery Site</th>
                    <th>Origin Site</th>
                    <th>Request Order Type</th>
                    <th>Order Title</th>
                    <th>Order Reference</th>
                    <th>Department</th>
                    <th>Priority</th>                      
                    <th>Project Name / Code</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td><i class="fas fa-radiation text-danger"></i> <i class="fas fa-exclamation-triangle text-danger"></i></td>
                    <td><input type="checkbox"></td>
                    <td>-----</td>
                    <td>-----</td>
                      <td>-----</td>
                      <td>-----</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td><a href="purchase-link-new-requisition.html" class="px-1 font-medium-1" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View" aria-label=""><i class="fas fa-eye"></i></a><a href="#" class="px-1 font-medium-1" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Edit" aria-label=""><i class="fas fa-edit"></i></a><a href="#" class="px-1 font-medium-1" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Cancel Requisition" aria-label=""><i class="fas fa-ban text-danger"></i></a></td>
                    </tr>			
                    <tr>
                        <td><i class="fas fa-radiation text-danger"></i> <i class="fas fa-exclamation-triangle text-danger"></i></td>
                    <td><input type="checkbox"></td>
                    <td>-----</td>
                    <td>-----</td>
                        <td>-----</td>
                      <td>-----</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                       <td><a href="purchase-link-new-requisition.html" class="px-1 font-medium-1" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View" aria-label=""><i class="fas fa-eye"></i></a><a href="#" class="px-1 font-medium-1" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Edit" aria-label=""><i class="fas fa-edit"></i></a><a href="#" class="px-1 font-medium-1" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Cancel Requisition" aria-label=""><i class="fas fa-ban text-danger"></i></a></td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-radiation text-danger"></i> <i class="fas fa-exclamation-triangle text-danger"></i></td>
                    <td><input type="checkbox"></td>
                    <td>-----</td>
                    <td>-----</td>
                        <td>-----</td>
                      <td>-----</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                        <td><a href="purchase-link-new-requisition.html" class="px-1 font-medium-1" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View" aria-label=""><i class="fas fa-eye"></i></a><a href="#" class="px-1 font-medium-1" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Edit" aria-label=""><i class="fas fa-edit"></i></a><a href="#" class="px-1 font-medium-1" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Cancel Requisition" aria-label=""><i class="fas fa-ban text-danger"></i></a></td>
                    </tr>
                    <tr>
                        <td><i class="fas fa-radiation text-danger"></i> <i class="fas fa-exclamation-triangle text-danger"></i></td>
                    <td><input type="checkbox"></td>
                    <td>-----</td>
                    <td>-----</td>
                        <td>-----</td>
                      <td>-----</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                        <td><a href="purchase-link-new-requisition.html" class="px-1 font-medium-1" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="View" aria-label=""><i class="fas fa-eye"></i></a><a href="#" class="px-1 font-medium-1" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Edit" aria-label=""><i class="fas fa-edit"></i></a><a href="#" class="px-1 font-medium-1" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Cancel Requisition" aria-label=""><i class="fas fa-ban text-danger"></i></a></td>
                    </tr>
                    </tbody>
              </table>
                  </div>
          </div>
        </div>

  
      </div>
    </div>
  </main>
