.nav-btn {
	height: 32px;
}

#menu-ctn {
	position: relative;
	margin: 0;
	display: inline-block;
}

#menu-cnt {
	/* opacity: 0; */
	transform: translate(16px, -10px) scale(0.9);
	padding: 10px;	
	position: absolute;
	background: var(--pms-body-bg);
	border-radius: 10px;
	z-index: 1;
}

.dropped {
	opacity: 1 !important;
	transform: translate(0px, 0px) !important;
	display: block !important;
	transition: opacity 0.3s ease, transform 0.3s ease;
}

.stages input {
	display: none;
}

.stages .box {
	position: relative;
	background: var(--pms-card-bg);
	height: 40px;
	transition: all .15s ease-in-out;
}

.stages .box::before {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	box-shadow: var(--pms-box-shadow);
}

.stages header.box {
	z-index: 100;
	cursor: initial;
	box-shadow: var(--pms-box-shadow);
	border-top-left-radius: 0.375rem;
	border-top-right-radius: 0.375rem;
}

.stages header .box-title {
	margin: 0;
	font-weight: normal;
	font-size: 16pt;
	color: white;
	cursor: initial;
}

.stages .box-title {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: var(--pms-body-color);
	font-size: 0.7333333333rem;
	font-weight: 600 !important;
	margin-bottom: 0;
}

.stages .box-title-last {
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: var(--pms-body-color);
	font-size: 0.7333333333rem;
	font-weight: 600 !important;
	margin-bottom: 0;
}

.stages .box-content {
	width: 100%;
	font-size: 10pt;
	color: rgba(0, 0, 0, .54);
	display: none;
}

.stages .box-close {
	position: absolute;
	height: 40px;
	width: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}

.stages .list-group-item:hover {
	background: var(--pms-200);
}

.stages input:checked+.box {
	height: auto;
	margin: 16px 0;
	box-shadow: var(--pms-box-shadow);
}

.stages input:checked+.box .box-title {
	/*border-bottom: 1px solid rgba(0,0,0,.18);*/
}

.stages input:checked+.box .box-content,
.stages input:checked+.box .box-close {
	display: inline-block;
}

.stages section .box-title {
	padding-left: 44px;
	width: 100%;
}

.stages section .box-title:before {
	position: absolute;
	display: block;
	content: '\203a';
	font-size: 18pt;
	left: 20px;
	top: -2px;
	transition: transform .15s ease-in-out;
	color: var(--pms-body-color);
}

.stages input:checked+section.box .box-title:before {
	transform: rotate(90deg);
}

.items {
	display: none;
}

.services {
	display: none;
}

.height-75 {
	height: 75px !important;
}

.media {
	display: flex;
	align-items: flex-start;
}

.select-stages-btn {
    margin-right: 10px;
}