<div class="card px-3 py-2 mb-1">
    <div class="position-relative">
        <div class="row">
            <div class="col-lg-3">            
                <h5 class="mb-0">Priority</h5>
                <span class="btn-sm ps-0 text-primary fw-bold">Master<span
                        class="fas fa-chevron-right ms-1 fs--2"></span></span><span class="btn-sm p-0">Register<span
                            class="fas fa-chevron-right ms-1 fs--2"></span></span> &nbsp;<span class="btn-sm p-0"><b>Priority</b></span>
            </div>
            <div class="col-lg-9">
                <div class="form-inline float-end mt-2">                   
                    <select class="form-control form-small form-select" #docStatus (change)="loadData($any($event.target).value)">
                        <option selected="" value="0">Active Data</option>
                        <option value="1">Archive Data</option>
                    </select>
                    <span class="p-l-10 p-r-10 mm-t-3">|</span>
                    <input type="text" class="form-control form-small" (keyup)="applyFilter($any($event.target).value)"
                        placeholder="Search" style="border-top-right-radius: 0; border-bottom-right-radius: 0px" #searchInput>
                    <button class="btn btn-primary form-small m-r-5"
                        style="border-top-left-radius: 0; border-bottom-left-radius: 0px" type="button"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Search"
                        aria-label=""><i class="fa fa-search" aria-hidden="true"></i></button>
                        <button class="btn btn-primary form-small m-r-5"
                        style="border-top-left-radius: 0; border-bottom-left-radius: 0px" type="button" data-bs-toggle="tooltip"
                        data-bs-placement="top" matTooltip="Clear Search Input" (click)="clearSearchInput()" data-bs-original-title="Search" aria-label=""><i class="fa fa-solid fa-eraser"></i></button>
                    <span class="p-l-10 p-r-10 mm-t-3">|</span>

                    <a  class="accordion-btn collapsed px-2 m-r-1" type="button" matTooltip="Add" data-bs-toggle="collapse" (click)="clear()"
                        data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1"><i
                            class="fas fa-plus text-primary"></i></a>

                    <a *ngIf="rights?.deleteRight" class="px-2 m-r-1" type="button" (click)="DeleteData()" data-bs-toggle="tooltip"
                        data-bs-placement="top" matTooltip="{{deletetooltip}}" data-bs-original-title="Delete" aria-label=""><i
                            class="fas fa-trash text-danger"></i></a>

                            <a class="px-2 m-r-1" style="color: green;" type="button" data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Excel"  (click)="generateExcel()" 
                            data-bs-original-title="List" aria-label=""><i
                                class="fas fa-file-excel"></i></a>

                    <a class="px-2 m-r-1" type="button" data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Export load data sheet" (click)="exportLoadSheet()"  
                        data-bs-original-title="Export" aria-label=""><i
                            class="fas fa-file-export text-primary"></i></a>

                            <a *ngIf="rights?.importRight" class="" (click)="openModal()" type="button"  data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Import data" data-bs-original-title="Import" aria-label=""><i class="fas fa-file-download text-primary"></i></a>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="card mb-2 bg-light">
    <div class="accordion-collapse collapse" id="collapse1" aria-labelledby="heading1"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <form (ngSubmit)="onSubmit(PriorityForm)" [formGroup]="PriorityForm">
                <div class="row g-3 mb-2">
                    <div class="col-sm-6">
                        <fieldset class="form-group mb-0">                           
                            <input type="text" formControlName="preferenceNumber" class="form-control form-small" id="abc"
                                placeholder="Preference Number *" appUppercase maxlength="100" required>
                        </fieldset>
                    </div>                    
                      <div class="col-sm-6">
                        <fieldset class="form-group mb-0">                     
   
                          <ng-multiselect-dropdown placeholder="Select OrderType"
                          [data]="orderTypes" class="multiselect-dropdown"
                          [(ngModel)]="selectorderType" [settings]="dropdownOrderTypeSetting" (onSelect)="onOrderTypeSelect($event)" formControlName="orderTypeId"
                          (onSelectAll)="onOrderTypeSelectAll($event)"
                          (onDeSelect)="onOrderTypeDeSelect($event)"
                          (onDeSelectAll)="onOrderTypeDeSelectAll($event)"
                          >
                      </ng-multiselect-dropdown>


                        </fieldset>

                      </div>

                      
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12">
                        <fieldset class="form-group mb-0">
                            <textarea rows="3" class="form-control" spellcheck="true" placeholder="Description *" formControlName="description"
                            maxlength="500"></textarea>
                        </fieldset>
                      </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset class="form-group mb-0">
                           
                            <mat-checkbox class="example-margin" [checked]="defchecked ? true : false" formControlName="defaultPriority">DefaultPriority</mat-checkbox>
                        </fieldset>
                      </div>

                    <div class="col-md-6">
                        <div class="float-end">
                        <button type="submit" class="btn btn-primary form-small m-r-5" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Save" aria-label=""  [disabled]="PriorityForm.invalid  || !PriorityForm.dirty"><i
                                class="fas fa-save"></i></button>
                        <button type="button" class="btn btn-danger form-small" data-bs-toggle="tooltip" (click)="close()" 
                            data-bs-placement="top" title="" data-bs-original-title="Cancel" aria-label=""><i
                                class="fas fa-ban"></i></button>
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="card mb-3">

    <div class="card-body">
        <div class="table-responsive scrollbar">
            <mat-table #table [dataSource]="dataSource" matSort
                class="table table-hover table-striped table-sm small table-bordered">
                <ng-container matColumnDef="checkbox">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>

                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)"></mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="servicetype">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Preference Number</mat-header-cell>
                    <mat-cell *matCellDef="let row">                       
                        <a (click)="Updatedata(row.prefenceId)"  class="accordion-btn show px-2 m-r-5" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1" title={{row.preferenceNumber}}> {{row.preferenceNumber}}</a>
                    
                    </mat-cell>
                </ng-container>  
                <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
                <mat-cell *matCellDef="let row" title={{row.description}}>
                   <span> {{row.description}}   </span> 
                </mat-cell>   
            </ng-container>     
            <ng-container matColumnDef="orderTypeId">
                <mat-header-cell *matHeaderCellDef mat-sort-header>OrderType</mat-header-cell>
                <mat-cell *matCellDef="let row" title={{row.orderTypeNames}}>
                   <span> {{row.orderTypeNames}}   </span> 
                </mat-cell>   
            </ng-container>  
            <ng-container matColumnDef="defaultPriority">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Default Priority</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-checkbox [checked]="row.defaultPriority" disabled></mat-checkbox>
                </mat-cell>   
            </ng-container> 
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"  [ngClass]="{'highlight': (selectedIndex==0?(i==0):(row.prefenceId==selectedIndex))}" ></mat-row>
              </mat-table>
              <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="20"
                [pageSizeOptions]="[20, 40, 60, 100]">
              </mat-paginator>
        </div>
    </div>
</div>