
<div class="card px-3 py-2 mb-1">
  <div class="position-relative">
      <div class="row">
        <div class="col-lg-4">
          <!-- <h5 class="mb-0">
            <select class="form-control form-small mb-d3 form-select bg-primary text-white" aria-readonly="true" onchange="location = this.value;">
                <option value="/administration/codeList" >Location Master</option>
                <option value="/administration/countryMaster"  selected="">Country Master</option>
                <option value="/administration/functionClassifier">Function Classifier</option>          
  </select>
</h5> -->

<ul class="navbar-nav" data-top-nav-dropdowns="data-top-nav-dropdowns">
  <li class="nav-item dropdown"><a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="typeMaster">Country Master</a>
    <div class="dropdown-menu dropdown-menu-card border-0 mt-0" aria-labelledby="typeMaster">
      <div class="bg-white dark__bg-1000 rounded-3 py-2">
          <a class="dropdown-item link-600 fw-medium" href="/administration/codeList">Location Master</a>
          <a class="dropdown-item link-600 fw-medium" href="/administration/countryMaster">Country Master</a>
          <a class="dropdown-item link-600 fw-medium" href="/administration/functionClassifier">Function Classifier</a>         
      </div>
    </div>
  </li>
</ul>

<span class="btn-sm ps-0 text-primary fw-bold">Administration<span class="fas fa-chevron-right ms-1 fs--2"></span></span><span class="btn-sm p-0">Location Master<span class="fas fa-chevron-right ms-1 fs--2"></span></span> &nbsp;<span class="btn-sm p-0">Country Master</span>
        </div>
        <div class="col-lg-8">
          <div class="form-inline float-end mt-2">
            <select class="form-control form-small form-select" (change)="loaddata($any($event.target).value)">
              <option selected="" value="0">Active Data</option>
              <option value="1">Archive Data</option>
            </select>
            <span class="p-l-10 p-r-10 mm-t-3">|</span>
            <input type="text" class="form-control form-small" (keyup)="applyFilter($any($event.target).value)"
              placeholder="Search" style="border-top-right-radius: 0; border-bottom-right-radius: 0px" #searchInput>
            <button class="btn btn-primary form-small m-r-5"
              style="border-top-left-radius: 0; border-bottom-left-radius: 0px" type="button" data-bs-toggle="tooltip"
              data-bs-placement="top" title="" data-bs-original-title="Search" aria-label=""><i class="fa fa-search"
                aria-hidden="true"></i></button>
                <button class="btn btn-primary form-small m-r-5"
                style="border-top-left-radius: 0; border-bottom-left-radius: 0px" type="button" data-bs-toggle="tooltip"
                data-bs-placement="top" matTooltip="Clear Search Input" (click)="clearSearchInput()" data-bs-original-title="Search" aria-label=""><i class="fa fa-solid fa-eraser"></i></button>
            <span class="p-l-10 p-r-10 mm-t-3">|</span>
  
            <a class="accordion-btn collapsed px-2 m-r-1" type="button" data-bs-toggle="collapse"
            matTooltip="Add" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1" (click)="clear()"><i
                class="fas fa-plus text-primary"></i></a>
  
            <a class="px-2 m-r-1" type="button" (click)="DeleteData()" data-bs-toggle="tooltip" data-bs-placement="top"
            matTooltip="{{deletetooltip}}" data-bs-original-title="Delete" aria-label=""><i class="fas fa-trash text-danger"></i></a>
  
              <a class="px-2 m-r-1" style="color: green;" type="button" data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Excel"  (click)="generateExcel()" 
              data-bs-original-title="List" aria-label=""><i
                  class="fas fa-file-excel"></i></a>
  
      <a class="px-2 m-r-1" type="button" data-bs-toggle="tooltip" data-bs-placement="top"   matTooltip="Export load data sheet"
      (click)="exportLoadSheet()" data-bs-original-title="Export" aria-label=""><i
              class="fas fa-file-export text-primary"></i></a>
  
              <a class="" (click)="openModal()" type="button"  data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Import data" data-bs-original-title="Import" aria-label=""><i class="fas fa-file-download text-primary"></i></a>
  
           
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-2 bg-light">
    <div class="accordion-collapse collapse" id="collapse1" aria-labelledby="heading1" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <form (ngSubmit)="onSubmit(countryfrm)" [formGroup]="countryfrm">
          <div class="row">
            <div class="col-sm">
              <fieldset class="form-group mb-0">
                <!-- <input type="hidden" formControlName="unitMasterId" value="0"> -->
                <input type="text" formControlName="countryName" maxlength="200" required class="form-control form-small" id="abc"
                  placeholder="Country Name" appUppercase noWhiteSpace>
              </fieldset>
            </div>
            <div class="col-sm">
              <fieldset class="form-group mb-0">
                <input type="text" formControlName="countryCode" maxlength="15" required class="form-control form-small"
                  placeholder="Country Code" appUppercase noWhiteSpace>
              </fieldset>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary form-small m-r-5" data-bs-toggle="tooltip"
                data-bs-placement="top" title="" data-bs-original-title="Save" aria-label=""  [disabled]="countryfrm.invalid || !countryfrm.dirty"><i
                  class="fas fa-save"></i></button>
              <button type="button" (click)="close()" class="btn btn-danger form-small m-r-5" data-bs-toggle="tooltip"
                data-bs-placement="top" title="" data-bs-original-title="Cancel" aria-label=""><i
                  class="fas fa-ban"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div class="card mb-3">

    <div class="card-body">
      <div class="table-responsive scrollbar">
        <mat-table #table [dataSource]="dataSource" matSort
          class="table table-hover table-striped table-sm small table-bordered">
          <ng-container matColumnDef="checkbox">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"></mat-checkbox>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="countryName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Country Name</mat-header-cell>          
            <mat-cell *matCellDef="let row">            
              <a (click)="Updatedata(row.countryId)"  class="accordion-btn show px-2 m-r-5" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1"> {{row.countryName}}</a>  
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="countryCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Country Code</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.countryCode}}</mat-cell>
          </ng-container>          
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>     
        <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="20"
        [pageSizeOptions]="[20, 40, 60, 100]">
      </mat-paginator>
      </div>
    </div>
  </div>