.mat-column-checkbox {
    flex: 0 0 50px;
  }
  ::ng-deep multiselect-item-checkbox
  {
  width: 11px !important;
  height: 11px !important;
  }
  ::ng-deep .dropdown-multiselect__caret
  {
    line-height: 13px !important;
  }
  ::ng-deep .ng-multiselect-dropdown span{
    font-size: 13px !important;
  }
  ::ng-deep .dropdown-btn
  {
    padding: 3px 15px !important;
    border: 1px solid var(--pms-input-border-color)  !important;
    background: #fff !important;
  }
  ::ng-deep span{
    font-size: 13px !important;
  }
  ::ng-deep .selected-item {
    max-width:250px !important;
  }
  .ng-invalid {
    border-color:#d8e2ef;

  }

  .mat-column-index {
    flex: 0 0 3%; /* Adjust the width as needed */
  }