
<mat-dialog-content style="padding: 0%; border-radius: '2px',">
<div class="modal-header" style="padding: 5px;margin-top: -5px;">

    <div class="col-xl-8 col-lg-12" >
      <h5 class="modal-title">
        {{ data.modalTitle }}
      </h5>
      </div>

      <div class="col-xl-4 col-lg-12">
        <div class="float-end">

            <button class="btn btn-primary form-small m-r-5" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-original-title="Save" aria-label="" (click)="SubmitStockReconciliation()"><i
                class="fas fa-save"></i></button>

        <button class="btn btn-danger form-small m-r-5" data-bs-toggle="tooltip" data-bs-placement="top" title=""
            data-bs-original-title="Close" aria-label=""  (click)="closeModal()"><i
                class="fas fa-ban"></i></button>           
        </div>
      </div>

  </div>


    <div class="modal-body p-0">
    <div class="form">
        <div class="table-responsive tableFixHead">
        <table id="tblStockReconciliation"
            class="table table-hover table-striped">
            <thead>
                <tr style="background-color: #1C3451; color: #fff;text-align: center;border-style: none;">
                    <th>Item Number</th>
                    <th>Item Name</th>
                    <th>Part No.</th>
                    <th>Previous ROB</th>
                    <th>New ROB</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label id="{{dataStockReconciliation.itemsId}}"
                            class="">{{dataStockReconciliation.itemCode}}</label>
                   
                    </td>
                    <td>
                        <label class="">{{dataStockReconciliation.itemName}}</label>
                    </td>
                    <td>
                        <label class="">{{dataStockReconciliation.partNo}}</label>
                    </td>
                    
                    <td>
                        <label class="">{{dataStockReconciliation.rob}}</label>
                    </td>
                    <td>
                        <input class="form-control " [(ngModel)]="editedROB" name='editedROB' (change)="handleROBChange(editedROB)">
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>  
    </div>

</mat-dialog-content>
