.mat-dialog-content .row span {
    display: inline-block;
    margin-right: 20px; 
    font-weight: bold;
    
}
.mat-dialog-actions {
    padding: 4px;
  }
  .mat-dialog-actions {    
    height: 20px! important; 
    min-height: 20px! important; 
    max-height: 30px! important; 
  }
  .table-sm > :not(caption) > * > *
  {
    padding: 0.1rem !important;
  }