<div class="card mb-3">
    <div class="card-body bg-light p-2">
          <ul class="nav nav-pills font-small-2">
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/administration/codeList"><strong>Location Master</strong></a></li>
            <li  class="nav-item"><a class="nav-link p-2"  routerLinkActive="active"  routerLink="/administration/countryMaster">Country Master</a></li>          
            <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/administration/functionClassifier"><strong>Function Classifier</strong></a></li>
           </ul>
    </div>
</div> 