<main class="main" id="top" style="background: url('assets/img/ant-rozetsky.jpg') center; background-size: cover">
      <div class="container-fluid">
        <div class="row min-vh-100 flex-center g-0">
          <div class="col-lg-8 col-xxl-5 py-3 position-relative"><img class="bg-auth-circle-shape" src="assets/img/icons/spot-illustrations/bg-shape.png" alt="" width="250"><img class="bg-auth-circle-shape-2" src="assets/img/icons/spot-illustrations/shape-1.png" alt="" width="150">
            <div class="card overflow-hidden z-index-1">
              <div class="card-body p-0">
                <div class="row g-0 h-100">
                  <div class="col-md-5 text-center bg-card-gradient">
                    <div class="position-relative p-4 pt-md-5 pb-md-7 light">
                      <div class="bg-holder bg-auth-card-shape" style="background-image:url(assets/img/icons/spot-illustrations/half-circle.png);">
                      </div>
                      <!--/.bg-holder-->

                      <div class="z-index-1 position-relative"><p class="link-light mb-4 font-sans-serif fs-4 d-inline-block fw-bolder" style="line-height:30px" >Atlantas Group</p>
                        <p class="opacity-75 text-white">Operations based in the UK, India, Togo and Nigeria. Supervising a range of ships in dry bulk from handy size to panamax, and in tankers from smalls to MRs. Aligning interests between owners and managers.</p>
                      </div>
                    </div>
                    <!-- <div class="mt-3 mb-4 mt-md-4 mb-md-5 light">
                      
                      <p class="mb-0 mt-4 mt-md-5 fs--1 fw-semi-bold text-white opacity-75">Read our <a class="text-decoration-underline text-white" href="#!">terms</a> and <a class="text-decoration-underline text-white" href="#!">conditions </a></p>
                    </div> -->
                  </div>
                  <div class="col-md-7 d-flex flex-center">
				  <div class="theme-control-toggle fa-icon-wait px-2 position-absolute" style="top:10px; right:0px">
					  <small class="float-start me-2 mt-1 fw-bold">Switch Theme</small>
                  <input class="form-check-input ms-0 theme-control-toggle-input" id="themeControlToggle" type="checkbox" data-theme-control="theme" value="dark" />
                  <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="bottom"><span class="fas fa-sun fs-0"></span></label>
                  <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="bottom"><span class="fas fa-moon fs-0"></span></label>
                </div>
                    <div class="p-4 p-md-5 flex-grow-1">
                      <div class="row flex-between-center">
                        <div class="col-auto">
                          <h3>Login</h3>
                        </div>
                      </div>
                      <form [formGroup]="loginForm" (ngSubmit)="loginHandler()">
                        <div class="mb-3">
                          <label class="form-label" for="card-email">User Name</label>
                          <input class="form-control" id="card-email" type="email" placeholder="Enter Username" formControlName="userName" />
                        </div>
                        <div class="mb-3">
                          <div class="d-flex justify-content-between">
                            <label class="form-label" for="card-password">Password</label>
                          </div>
                          <input class="form-control" id="card-password" type="password" placeholder="Enter Password" formControlName="password"/>
                        </div>
                        <div class="row flex-between-center">
                          <div class="col-auto">
                            <div class="form-check mb-0">
                              <input class="form-check-input" type="checkbox" id="card-checkbox" checked="checked" />
                              <label class="form-check-label mb-0" for="card-checkbox">Remember me</label>
                            </div>
                          </div>
                          <!-- <div class="col-auto"><a class="fs--1" href="pages/authentication/card/forgot-password.html">Forgot Password?</a></div> -->
                        </div>
                        <div class="mb-3">
                          <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">Log in</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>