<!-- <h2 mat-dialog-title class="d-flex justify-content-between align-items-center">
    <span>{{ data.modalTitle }}</span>
    <div class="col-xl-6 col-lg-12" style="margin-top: -20px;">
        <div class="float-end">
            <button class="btn btn-primary form-small m-r-5" data-bs-toggle="tooltip" data-bs-placement="top" (click)="saveAndClose()"
                data-bs-original-title="Save" aria-label=""><i
                    class="fas fa-save"></i></button>

            <button class="btn btn-danger form-small m-r-5" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                data-bs-original-title="Close" aria-label=""  (click)="closeModal()"><i
                    class="fas fa-ban"></i></button>   
                    
        </div>
        
    </div>
</h2> -->

<div class="modal-header"style="margin-top: -24px;">

    <div class="col-xl-8 col-lg-12" >
      <h5 class="modal-title">
        {{ data.modalTitle}}
      </h5>
      </div>

      <div class="col-xl-4 col-lg-12">
        <div class="float-end">

            <button class="btn btn-primary form-small m-r-5" data-bs-toggle="tooltip" data-bs-placement="top" (click)="saveAndClose()"
            data-bs-original-title="Save" aria-label=""><i
                class="fas fa-save"></i></button>

        <button class="btn btn-danger form-small m-r-5" data-bs-toggle="tooltip" data-bs-placement="top" title=""
            data-bs-original-title="Close" aria-label=""  (click)="closeModal()"><i
                class="fas fa-ban"></i></button>             
        </div>
      </div>

  </div>

<!-- 
<mat-dialog-content> -->

        <table id="tblStockReconciliation"
            class="table table-hover table-striped scrollbar-visible table-sm small table-bordered overflow-hidden table-striped">
            <thead>
                <tr style="background-color: #1C3451; color: #fff;">
                    <th>Column Name</th>
                    <th>Show</th>  
                    <!-- <th>Hide</th> -->
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let column of displayedColumns; let i = index">
                    <tr *ngIf="i > 0">
                        <td>{{ column }}</td>
                        <td>
                            <mat-checkbox [checked]="visibleColumns[i]" (change)="toggleVisibility(i)"></mat-checkbox>
                        </td>
                        <!-- <td>
                            <mat-checkbox [checked]="!visibleColumns[i]"  (change)="toggleVisibility(i)"></mat-checkbox>
                        </td> -->
                    </tr>
                </ng-container>
            </tbody>
        </table>
 
<!-- </mat-dialog-content> -->
