<nav class="navbar navbar-light navbar-vertical navbar-expand-xl navbar-inverted">
    <div class="d-flex align-items-center">
      <div class="toggle-icon-wrapper">

        <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

      </div><a class="navbar-brand" href="index.html">
        <div class="d-flex align-items-center py-2"><img class="me-2" src="assets/img/logo.png" alt="" width="40" />
          <span class="font-sans-serif font-small-3">Purchase Link</span>
        </div>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
      <div class="navbar-vertical-content scrollbar">
        <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
          <li class="nav-item">
            <!-- parent pages--><a class="nav-link" href="#" role="button" aria-expanded="false">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span><span class="nav-link-text ps-1">Dashboard</span>
              </div>
            </a>                 
          </li>
          <li class="nav-item">
            <!-- label-->
            <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
              <div class="col-auto navbar-vertical-label">Master
              </div>
              <div class="col ps-0">
                <hr class="mb-0 navbar-vertical-divider" />
              </div>
            </div>
            <a class="nav-link dropdown-indicator active" href="#register" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="register">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-user"></span></span><span class="nav-link-text ps-1">Register</span>
              </div>
            </a> 
                      <ul class="nav collapse show" id="register">
              <li class="nav-item"><a class="nav-link active" href="category-master.html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Type Master</span>
                  </div>
                </a>
              </li>
                  <li class="nav-item"><a class="nav-link" href="UnitMaster.Html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Unit Master</span>
                  </div>
                </a>
              </li>
                  <li class="nav-item"><a class="nav-link" href="PriorityMaster.html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Priority Master</span>
                  </div>
                </a>
              </li>
                  <li class="nav-item"><a class="nav-link" href="JobGroupMaster.html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Maintenance Group Master</span>
                  </div>
                </a>
              </li>
                  <li class="nav-item"><a class="nav-link" href="ship-classification-society.html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Classification Society</span>
                  </div>
                </a>
              </li>
              <li class="nav-item"><a class="nav-link" href="maker.html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Maker Master</span>
                  </div>
                </a>
              </li>
              </ul>
              <a class="nav-link dropdown-indicator" href="#master" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="master">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-cog"></span></span>
                <span class="nav-link-text ps-1">PMS Master</span>
              </div>
            </a> 
              <ul class="nav collapse" id="master">
                  <li class="nav-item"><a class="nav-link" href="group-master.html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Group Master</span>
                  </div>
                </a>
              </li>
                  <li class="nav-item"><a class="nav-link" href="/listmaintenance" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Maintenance Master</span>
                  </div>
                </a>
              </li>
                  <li class="nav-item"><a class="nav-link" href="component-master.html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Component Master</span>
                  </div>
                </a>
              </li>
                  <li class="nav-item"><a class="nav-link" href="spare-parts-master.html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Spare Parts Master</span>
                  </div>
                </a>
              </li>
                  <li class="nav-item"><a class="nav-link" href="consumable-master.html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Store & Consumable</span>
                  </div>
                </a>
              </li>
              </ul>
          </li>
          <li class="nav-item">
            <!-- label-->
            <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
              <div class="col-auto navbar-vertical-label">Ship Master
              </div>
              <div class="col ps-0">
                <hr class="mb-0 navbar-vertical-divider" />
              </div>
            </div>
            <a class="nav-link dropdown-indicator" href="#shipmaster" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="shipmaster">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-ship"></span></span><span class="nav-link-text ps-1">Ship Master</span>
              </div>
            </a> 
              <ul class="nav collapse" id="shipmaster">
              <li class="nav-item"><a class="nav-link" href="#" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Location Master</span>
                  </div>
                </a>
              </li>
                  <li class="nav-item"><a class="nav-link" href="ship-pms-master.html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Ship PMS Master</span>
                  </div>
                </a>
              </li>
                  <li class="nav-item"><a class="nav-link" href="counter-master.html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Counter Master</span>
                  </div>
                </a>
              </li>
                  <li class="nav-item"><a class="nav-link" href="counter-update.html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Counter Update</span>
                  </div>
                </a>
              </li>
                  </ul>
          </li>
            <li class="nav-item">
            <!-- label-->
            <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
              <div class="col-auto navbar-vertical-label">PMS
              </div>
              <div class="col ps-0">
                <hr class="mb-0 navbar-vertical-divider" />
              </div>
            </div>
            <a class="nav-link dropdown-indicator" href="#pms" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="pms">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-cog"></span></span><span class="nav-link-text ps-1">PMS</span>
              </div>
            </a> 
              <ul class="nav collapse" id="pms">
              <li class="nav-item"><a class="nav-link" href="pms-overview.html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">PMS Overview</span>
                  </div>
                </a>
              </li>
                  <li class="nav-item"><a class="nav-link" href="job-forcast.html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Maintenance Forecast</span>
                  </div>
                </a>
              </li>
                  </ul>
          </li>
            <li class="nav-item">
            <!-- label-->
            <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
              <div class="col-auto navbar-vertical-label">User
              </div>
              <div class="col ps-0">
                <hr class="mb-0 navbar-vertical-divider" />
              </div>
            </div>
            <a class="nav-link dropdown-indicator" href="#user" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="user">
              <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-user"></span></span><span class="nav-link-text ps-1">User Management</span>
              </div>
            </a> 
              <ul class="nav collapse" id="user">
              <li class="nav-item"><a class="nav-link" href="pms-overview.html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Department</span>
                  </div>
                </a>
              </li>
                  <li class="nav-item"><a class="nav-link" href="job-forcast.html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Role</span>
                  </div>
                </a>
              </li>
                  <li class="nav-item"><a class="nav-link" href="job-forcast.html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Company</span>
                  </div>
                </a>
              </li>
                  <li class="nav-item"><a class="nav-link" href="job-forcast.html" aria-expanded="false">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">User List</span>
                  </div>
                </a>
              </li>
                  </ul>
          </li>
        </ul>              
      </div>
    </div>
  </nav>