<main class="main" id="top">
  <div class="container-fluid" data-layout="container">

    <nav class="navbar navbar-light navbar-vertical navbar-expand-xl navbar-inverted">
      <div class="d-flex align-items-center">
        <div class="toggle-icon-wrapper">

          <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip"
            data-bs-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span
                class="toggle-line"></span></span></button>

        </div><a class="navbar-brand" href="welcome">
          <div class="d-flex align-items-center py-2"><img class="me-2" src="assets/img/logo.png" alt="" width="40" />
            <span class="font-sans-serif font-small-3">Purchase Link</span>
          </div>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <div class="navbar-vertical-content scrollbar">
          <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
            <li class="nav-item">
              <!-- parent pages--><a class="nav-link" href="index.html" role="button" aria-expanded="false">
                <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                      class="fas fa-home"></span></span><span class="nav-link-text ps-1">Home</span>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <!-- label-->
              <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                <div class="col-auto navbar-vertical-label">Purchase Link
                </div>
                <div class="col ps-0">
                  <hr class="mb-0 navbar-vertical-divider" />
                </div>
              </div>

              <a class="nav-link dropdown-indicator" href="#purchase-link" role="button" data-bs-toggle="collapse"
                aria-expanded="false" aria-controls="register">
                <div class="d-flex align-items-center"><span class="nav-link-icon"><i
                      class="fas fa-link"></i></span><span class="nav-link-text ps-1">Purchase Link</span>
                </div>
              </a>






              <ul class="nav collapse" id="purchase-link">
                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" routerLink="/Requisition/RequisitionTracking" aria-expanded="false">
                    <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Purchase Tracking</span>
                    </div>
                  </a>
                </li>


                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" routerLink="/Requisition/Requisitionslist" aria-expanded="false">
                    <div class="d-flex align-items-center">
                      <span class="nav-link-text ps-1">Requisition</span>
                    </div>
                  </a>
                </li>


                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" routerLink="/Requisition/Rfqlist" aria-expanded="false">
                    <div class="d-flex align-items-center">
                      <span class="nav-link-text ps-1">RFQ</span>
                    </div>
                  </a>
                </li>


                <li class="nav-item"><a class="nav-link" href="purchase-link-po.html" aria-expanded="false">
                    <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Purchase Order</span>
                    </div>
                  </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="purchase-link-dispatch.html" aria-expanded="false">
                    <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Dispatch</span>
                    </div>
                  </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="purchase-link-new-material-receipt-items.html"
                    aria-expanded="false">
                    <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Material Receipt</span>
                    </div>
                  </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="purchase-link-po-invoice-upload.html"
                    aria-expanded="false">
                    <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Invoice</span>
                    </div>
                  </a>
                </li>
              </ul>
            </li>


            <li class="nav-item">
              <!-- label-->
              <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                <div class="col-auto navbar-vertical-label">Purchase Master
                </div>
                <div class="col ps-0">
                  <hr class="mb-0 navbar-vertical-divider" />
                </div>
              </div>
              <a class="nav-link dropdown-indicator active" href="#master" role="button" data-bs-toggle="collapse"
                aria-expanded="true" aria-controls="register">
                <div class="d-flex align-items-center"><span class="nav-link-icon"><i
                      class="fas fa-cog"></i></span><span class="nav-link-text ps-1">Master</span>
                </div>
              </a>
              <ul class="nav collapse show" id="master">
                <!-- <li class="nav-item"><a class="nav-link active" href="purchase-link-order-type.html" aria-expanded="false">
              <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Order Type</span>
              </div>
            </a>
          </li> -->
                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" routerLink="/master/order-type" aria-expanded="false">
                    <div class="d-flex align-items-center">
                      <span class="nav-link-text ps-1">Order Type</span>
                    </div>
                  </a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" routerLink="/master/service-category" aria-expanded="false">
                    <div class="d-flex align-items-center">
                      <span class="nav-link-text ps-1">Service Category</span>
                    </div>
                  </a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" routerLink="/master/service-type" aria-expanded="false">
                    <div class="d-flex align-items-center">
                      <span class="nav-link-text ps-1">Service Type</span>
                    </div>
                  </a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" routerLink="/master/priority" aria-expanded="false">
                    <div class="d-flex align-items-center">
                      <span class="nav-link-text ps-1">Priority</span>
                    </div>
                  </a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" routerLink="/master/project-name" aria-expanded="false">
                    <div class="d-flex align-items-center">
                      <span class="nav-link-text ps-1">Project Name / Code</span>
                    </div>
                  </a>
                </li>


                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" routerLink="/master/MaterialQuality" aria-expanded="false">
                    <div class="d-flex align-items-center">
                      <span class="nav-link-text ps-1">Material Quality</span>
                    </div>
                  </a>
                </li>


                <li class="nav-item"><a class="nav-link" href="purchase-link-additional-cost.html"
                    aria-expanded="false">
                    <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Additional Cost</span>
                    </div>
                  </a>
                </li>
                <li class="nav-item"><a class="nav-link" routerLink="/master/email" aria-expanded="false">
                    <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Email</span>
                    </div>
                  </a>
                </li>

              </ul>
            </li>
            <li class="nav-item">
              <!-- label-->
              <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                <div class="col-auto navbar-vertical-label">Vendor Management
                </div>
                <div class="col ps-0">
                  <hr class="mb-0 navbar-vertical-divider" />
                </div>
              </div>
              <a class="nav-link dropdown-indicator" href="#vendor-management" role="button" data-bs-toggle="collapse"
                aria-expanded="false" aria-controls="register">
                <div class="d-flex align-items-center"><span class="nav-link-icon"><i
                      class="far fa-address-card"></i></span><span class="nav-link-text ps-1"> Vendor</span>
                </div>
              </a>
              <ul class="nav collapse" id="vendor-management">
                <li class="nav-item"><a class="nav-link" href="purchase-link-vendor-details.html" aria-expanded="false">
                    <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Vendor Details</span>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <!-- label-->
              <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
                <div class="col-auto navbar-vertical-label">Accounts Master
                </div>
                <div class="col ps-0">
                  <hr class="mb-0 navbar-vertical-divider" />
                </div>
              </div>
              <a class="nav-link dropdown-indicator" href="#accountmaster" role="button" data-bs-toggle="collapse"
                aria-expanded="false" aria-controls="register">
                <div class="d-flex align-items-center"><span class="nav-link-icon"><i
                  class="fas fa-cog"></i></span><span class="nav-link-text ps-1">Master</span>
                </div>
              </a>
              <ul class="nav collapse" id="accountmaster">
                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" routerLink="/Account/currencyMaster" aria-expanded="false">
                    <div class="d-flex align-items-center">
                      <span class="nav-link-text ps-1">Currency Master</span>
                    </div>
                  </a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" routerLink="/Account/accountcode-name" aria-expanded="false">
                    <div class="d-flex align-items-center">
                      <span class="nav-link-text ps-1">Account Code / Name</span>
                    </div>
                  </a>
                </li>
                <li routerLinkActive="active" class="nav-item">
                  <a class="nav-link" routerLink="/Account/accountType" aria-expanded="false">
                    <div class="d-flex align-items-center">
                      <span class="nav-link-text ps-1">Account Type</span>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
    <div class="content">
      <nav class="navbar navbar-light navbar-glass navbar-top navbar-expand-lg" data-move-target="#navbarVerticalNav"
        data-navbar-top="combo">

        <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button"
          data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse"
          aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span
              class="toggle-line"></span></span></button>
        <a class="navbar-brand me-1 me-sm-3" href="index.html">
          <div class="d-flex align-items-center"><img class="me-2" src="assets/img/logo.png" alt="" width="40" />
            <span class="font-sans-serif font-small-3">Purchase Link</span>
          </div>
        </a>
        <div *ngIf="activeRouteResult" class="collapse navbar-collapse scrollbar" id="navbarStandard">
          <ul class="navbar-nav" data-top-nav-dropdowns="data-top-nav-dropdowns">
            <li routerLinkActive="active" class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#"
                role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                id="dashboards">Purchase Views</a>
              <div class="dropdown-menu dropdown-menu-card border-0 mt-0" aria-labelledby="dashboards">
                <div class="bg-white dark__bg-1000 rounded-3 py-2">
                  <a *ngIf="PMS_View" class="dropdown-item link-600 fw-medium" routerLink="/master/category">Workflow
                    Based</a>
                  <a *ngIf="QHSE_View" class="dropdown-item link-600 fw-medium" href="#">Time Based</a>
                  <a *ngIf="Purchase_View" class="dropdown-item link-600 fw-medium" href="#">Location Based</a>
                  <a *ngIf="Crewlink_View" class="dropdown-item link-600 fw-medium" href="#">Assignee Based</a>

                </div>
              </div>
            </li>
          </ul>
        </div>
        <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
          <li routerLinkActive="active" class="nav-item">
            Switch Theme
          </li>
          <li routerLinkActive="active" class="nav-item">
            <div class="theme-control-toggle fa-icon-wait px-2">
              <input class="form-check-input ms-0 theme-control-toggle-input" id="themeControlToggle" type="checkbox"
                data-theme-control="theme" value="dark" />
              <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Switch to light theme"><span
                  class="fas fa-sun fs-0"></span></label>
              <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Switch to dark theme"><span
                  class="fas fa-moon fs-0"></span></label>
            </div>
          </li>
          <li routerLinkActive="active" class="nav-item dropdown"><a class="nav-link pe-0" id="navbarDropdownUser"
              href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="avatar avatar-xl" (mouseenter)="mouseEnter('div a') ">
                <img class="rounded-circle" src="assets/img/avatar.png" alt="" />

              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser">
              <div class="bg-white dark__bg-1000 rounded-2 py-2">
                <a class="dropdown-item">{{userName}}<br><small>{{designation}}</small></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#changePassModal" data-bs-toggle="modal" aria-expanded="false">Change
                  Password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#userProfileModal" data-bs-toggle="modal" aria-expanded="false">Profile
                  &amp; account</a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
              </div>
            </div>
          </li>
        </ul>
      </nav>
      <!-- <div class="card mb-3">
<div class="card-body bg-light p-2">
<ul class="nav nav-pills font-small-2">
 <li routerLinkActive="active"  class="nav-item"><a class="nav-link active p-2" routerLink="/master/category">Category Master</a></li>
 <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="/master/jobType"><strong>Maintenance Type</strong></a></li>
 <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="/master/jobGroup"><strong>Maintenance Group</strong></a></li>
 <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="/master/attachmentType"><strong>Attachment Type</strong></a></li>
 <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="/master/inventorytype"><strong>Inventory Type</strong></a></li>
 <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="/master/componentType"><strong>Component Type</strong></a></li>
 <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="/master/componentCondition"><strong>Component Condition</strong></a></li>
</ul>
</div>
</div> -->

      <router-outlet></router-outlet>


      <footer class="footer">
        <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">Copyright © 2023, All rights reserved.</p>
          </div>
        </div>
      </footer>
    </div>






  </div>
</main>
<div class="modal fade" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="authentication-modal-label"
  aria-hidden="true">
  <div class="modal-dialog mt-6" role="document">
    <div class="modal-content border-0">
      <form [formGroup]="changePassForm" (ngSubmit)="addHandler()">
        <div class="modal-header">
          <h5 class="modal-title" id="changePassLabel">Reset Password
            <small class="font-small">All fields marked with * are required</small>
          </h5>
        </div>
        <div class="modal-body" style="font-weight: 400;">
          <div class="form">
            <div class="row">
              <div class="col-md-12 mb-2">
                <div class="form-group">
                  <label>Old Password <span class="astrik">*</span></label>
                  <input type="password" class="form-control" formControlName="oldPass" [value]="fm.oldPass.value">
                  <!-- <span *ngIf="fm.oldPass.invalid && (fm.oldPass.dirty || fm.oldPass.touched)" class="error-msg">old
Password is required</span> -->
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12 mb-2">
                <div class="form-group">
                  <label>New Password <span class="astrik">*</span></label>
                  <input type="password" class="form-control" formControlName="newpassword">
                  <span *ngIf="fm.newpassword.errors?.required && (fm.newpassword.dirty || fm.newpassword.touched)"
                    class="error-msg">new password is required</span>
                  <span class="error-msg" style="color: maroon;"
                    *ngIf="fm.newpassword.errors?.pattern && (fm.newpassword.dirty || fm.newpassword.touched)">
                    Password must contain at least one number, one special character, one uppercase and a
                    lowercase letter and at least 8 characters<br />Password cannot
                    contain whitespace
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-2">
                <div class="form-group">
                  <label>Confirm Password <span class="astrik">*</span></label>
                  <input type="password" class="form-control" (input)="comparePwd()" formControlName="confirmpassword">


                  <span class="error-msg" *ngIf="notMatched"> confirm password did not match
                  </span>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer " style="background:#F5F5F5;padding:0.5rem;">
          <button type="button" class="btn btn-secondary" (click)="closeModal()" data-mdb-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary" [class.disabled]="changePassForm.invalid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="userProfileModal" tabindex="-1" role="dialog" aria-labelledby="authentication-modal-label"
  aria-hidden="true">
  <div class="modal-dialog modal-xl mt-6" role="document">
    <div class="modal-content border-0">
      <div class="modal-body py-4 px-5" style="background-color: aliceblue;">
        <div class="app-content p-0 user-profile">
          <div class="content-wrapper">
            <section class="section team-section p-0">
              <div class="row match-height">
                <div class="col-md-4 mb-md-0 mb-5">
                  <!-- Card -->
                  <div class="card profile-card" style="margin-top: 60px">
                    <!-- Avatar -->
                    <div class="profile-avatar z-depth-1-half mb-4">
                      <img src="/assets/img/avatar.png" class="rounded-circle" alt="First sample avatar image">
                    </div>

                    <div class="card-body pt-0 mt-0">
                      <!-- Name -->
                      <div class="text-center">
                        <h3 class="mb-1 font-weight-bold proper-case" style="color: #233855;">
                          <strong>{{fullName}}</strong>
                        </h3>
                        <h6 class="font-weight-bold blue-text mb-2">{{designation}}</h6>
                        <p><strong>Email :</strong> {{email}}</p>
                        <p style="color: #233855; font-weight: 600;">{{companyName}}</p>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-8 mb-md-0 mb-5">
                  <div class="card m-t-60">
                    <div class="card-header">
                      <div class="row">
                        <div class="col-xl-6 col-lg-12">
                          <h4 class="card-title p-t-5 proper-case">User Details</h4>
                        </div>
                        <!-- <div class="col-xl-6 col-lg-12">
<div class="float-right">
<button class="btn btn-primary form-small p-t-3 p-b-3 m-r-5" type="button" href="#changePassModal" data-bs-toggle="modal" aria-expanded="false"><i class="fas fa-edit" aria-hidden="true"></i> Change Password</button>
</div>
</div> -->
                      </div>
                    </div>
                    <div class="card-content">
                      <div class="card-body pt-0">
                        <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <tr>
                                <th width="25%">Username</th>
                                <td width="25%">{{userName}}</td>
                                <th width="10%">DOB</th>
                                <td width="40%">{{DOB| date:'dd-MMM-yyyy'}}</td>
                              </tr>
                              <tr>
                                <th>User code</th>
                                <td>{{userCode}}</td>
                                <th>Mobile</th>
                                <td> {{MobileNumber}}</td>
                              </tr>
                              <tr>
                                <th>Date of Joining</th>
                                <td>{{JoiningDate | date:'dd-MMM-yyyy'}}</td>
                                <th>Address</th>
                                <td>{{location}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>