<div class="card px-3 py-2 mb-3">
    <div class="position-relative">
        <div class="row flex-between-center">
            <div class="col-auto align-self-center">
                <h5 class="mb-0">Currency Master</h5>
                <span class="btn-sm ps-0 text-primary fw-bold">Accounts Link<span
                        class="fas fa-chevron-right ms-1 fs--2"></span></span> <span class="btn-sm p-0">Currency
                    Master</span>
            </div>
            <div class="col-auto ms-auto">

                <a class="px-1 m-r-5" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" routerLink="/Account/addCurrency"
                    data-bs-original-title="Add" aria-label=""><i class="fas fa-plus text-primary"></i></a>

                <a class="px-1 m-r-5" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                    data-bs-original-title="Add" aria-label=""><i class="fas fa-edit text-primary"></i></a>

                <a class="px-1 m-r-5" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                    data-bs-original-title="Import" aria-label=""><i class="fas fa-download text-primary"></i></a>

                <a class="px-1 m-r-5" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                    data-bs-original-title="Export PDF" aria-label=""><i class="fas fa-file-pdf text-danger"></i></a>

                <a class="" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title=""
                    data-bs-original-title="Export Excel" aria-label=""><i
                        class="fas fa-file-excel text-success"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3">

    <div class="card-body">
        <div class="table-responsive scrollbar">
            <table class="table table-hover table-striped table-sm small table-bordered overflow-hidden">
                <thead>
                    <tr>
                        <th>Currency</th>
                        <th>Name</th>
                        <th>Last Update</th>
                        <th>USD Exchange Rate</th>
                        <th>USD value</th>
                        <th>GBP Value</th>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>-----</td>
                        <td>-----</td>
                        <td>-----</td>
                        <td>-----</td>
                        <td>-----</td>
                        <td>-----</td>
                        <td>-----</td>
                        <td>-----</td>
                        <td><a class="px-1 font-medium-1" type="button" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="" data-bs-original-title="View" aria-label=""><i class="fas fa-eye"></i>
                            </a>
                            <a href="#" class="px-1 font-medium-1" type="button" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="" data-bs-original-title="Edit" aria-label="">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>